@import 'variables';

:host {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: map-get($colors, white);
  }

  span {
    cursor: pointer;
  }
}
