<ng-template [ngTemplateOutlet]="loading ? loader : details"></ng-template>

<ng-template #details>
  <section
    [appTheme]="{ color: 'color' }"
    class="country-details"
    *ngIf="country"
  >
    <button
      [appTheme]="{ 'background-color': 'backgroundColor', color: 'color' }"
      class="country-details__button"
      routerLink="/"
    >
      <ion-icon name="arrow-back"></ion-icon>Back
    </button>

    <div class="country-details__info">
      <img [src]="country.flags.svg" [alt]="country.name.common + ' flag'" />
      <div>
        <h2>{{ country.name.common }}</h2>
        <div class="country-details__box-container">
          <span class="country-details__box">
            <p><b>Native Name:</b> {{ country.name.official }}</p>
            <p><b>Population:</b> {{ country.population | number }}</p>
            <p><b>Region:</b> {{ country.region }}</p>
            <p><b>Sub Region:</b> {{ country.subregion }}</p>
            <p><b>Capital:</b> {{ country.capital }}</p>
          </span>
          <span class="country-details__box">
            <p><b>Top Level Domain:</b> {{ country.tld }}</p>
            <p>
              <b>Currencies:</b>
              <span *ngFor="let currency of currencies">
                {{ currency }}
              </span>
            </p>
            <p>
              <b>Languages:</b>
              <span *ngFor="let language of languages"> {{ language }} </span>
            </p>
          </span>
          <span class="country-details__border-countries">
            <b>Border Countries:</b>
            <span *ngIf="!borderCountries.length">&nbsp;-</span>
            <span class="country-details__border-countries__buttons-container">
              <button
                class="country-details__button country-details__button--tiny"
                *ngFor="let borderCountry of borderCountries"
                [appTheme]="{
                  'background-color': 'backgroundColor',
                  color: 'color'
                }"
                (click)="getCountryBasedOnBorderCountry(borderCountry)"
              >
                {{ borderCountry }}
              </button>
            </span>
          </span>
        </div>
      </div>
    </div>
  </section>
</ng-template>

<ng-template #loader>
  <app-loader [loading]="loading"></app-loader>
</ng-template>
