@import "form-control";

:host {
  display: flex;
  align-items: center;
  justify-content: center;

  .country-list {
    padding: 30px;

    &__input-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    &__cards-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;

      @media screen and (min-width: 1920px) {
        grid-template-columns: repeat(6, 1fr);
      }

      @media screen and (max-width: 512px) {
        grid-template-columns: 1fr;
        padding: 30px;
      }
    }
  }

}
