<ng-template [ngTemplateOutlet]="loading ? loader : list"></ng-template>

<ng-template #list>
  <section [appTheme]="{ color: 'color' }" class="country-list">
    <form class="country-list__input-container" [formGroup]="form">
      <div class="input-group">
        <div class="input-group__prepend" [appTheme]="{ 'background-color': 'backgroundColor', color: 'color' }">
          <ion-icon name="search"></ion-icon>
        </div>
        <input
          type="text"
          placeholder="Search for a country..."
          formControlName="search"
          data-testid="search-input"
          [appTheme]="{ 'background-color': 'backgroundColor', color: 'color' }"
        />
      </div>
      <select
        formControlName="filter"
        data-testid="filter-select"
        [appTheme]="{ 'background-color': 'backgroundColor', color: 'color' }"
      >
        <option value="Filter by region" selected disabled hidden>Filter by region</option>
        <option *ngFor="let item of regions" [value]="item.value">
          {{ item.label }}
        </option>
      </select>
    </form>

    <div class="country-list__cards-container" *ngIf="countries.length; else empty">
      <div *ngFor="let country of countries; let i = index" [attr.data-testid]="'country-card-' + i">
        <app-country-card [country]="country" (onClick)="onCountryClick($event)"></app-country-card>
      </div>
    </div>
  </section>
</ng-template>

<ng-template #loader>
  <app-loader [loading]="loading"></app-loader>
</ng-template>

<ng-template #empty>
  <h2>Any country found</h2>
</ng-template>
