.country-list {
  padding: 30px;

  &__input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}
