<div *ngIf="country" class="card" (click)="onClick.emit(country)">
  <img
    class="card__image"
    [src]="country.flags.png"
    [alt]="country.name.common + 'flag'"
  />
  <div class="card__info-container">
    <h3 class="card__title">{{ country.name.common }}</h3>
    <p class="card__info">
      <b>Population:</b> {{ country.population | number }}
    </p>
    <p class="card__info"><b>Region:</b> {{ country.region }}</p>
    <p class="card__info"><b>Capital:</b> {{ country.capital }}</p>
  </div>
</div>
