$colors: (
  dark-blue: #2b3945,
  very-dark-blue: #202c37,
  black: #111517,
  dark-gray: #858585,
  very-light-gray: #fafafa,
  white: #ffffff
);

$font-weights: (
  light: 300,
  semi-bold: 600,
  extra-bold: 800
);

$detail-page-font-size: 16px;
$home-page-items-font-size: 14px;
